#horcon {
    margin: 0px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    
}

hr {
    border-top: 1px solid #fffefe;

}

img {
    pointer-events: none;
}
img.hor {
    flex-grow: 1;
    flex-shrink: 1;
    width: 25%;
    margin: 10px 0px 0px 0px;
    object-fit: scale-down;
}

img.full {
    width: 100%;
    margin: 10px 0px 0px 0px;

}
body {
    background-color: rgb(48, 48, 48);
}

h1 {
    color: white;
}

#vercon {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
    align-content: space-between;
    gap: 10px;
    height: inherit;
    width: 33%;
}
p {
    color: white;
    margin: 5px 0px 20px 4px;
    font-size: small;
}
.inblock {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}

img.ver{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    object-fit: scale-down;
}
img.this{
    object-fit: contain;
    width: 68%;
}

a:link{
    color:  #c3e7f0;
    text-decoration: none;
} /*- a normal, unvisited link*/
a:visited{
    color:  #c3e7f0;
    text-decoration: none;
} /*- a link the user has visited */
a:hover{
    color:  #c3e7f0;
    text-decoration: underline;
} /*- a link when the user mouses over it*/
a:active{
    color:  #c3e7f0;
    text-decoration: none;
} /*- a link the moment it is clicked*/